/*class & id*/
.food{
    color: blue;
}

.person{
    color: red;
}

.background-color{
    background-color: gray;
}

.people{
    background-color: gray;
    color: khaki;
}

#id{
    color: hotpink;
    background-color: khaki;
}

/*class 選擇標籤*/
h1:hover{
    background-color: khaki;
}

[type]:hover{
    background-color: khaki;
}